
/* Damier*/
#damier {
  border-collapse: collapse;
  border: solid 1px black;
}

td {
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
}

.white {
  background-color: white
}

.black {
  background-color: white;
  border: 1px solid black;

}

/* RWD */
@media only screen and (max-width: 600px) {
	body {
		background-color: lightblue;
	}
}

body  {
  background-color: grey;
}


/* Barre de navigation*/
nav {
	position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}



nav li {
    border-right: 1px solid #bbb;
}

nav li:last-child {
    border-right: 1px solid #bbb;
}

/* Footer*/
footer {
  background-color: #333;
  bottom: 0;
	position: fixed;
}

/* Titres */

h1 {
  text-align: center;
}